
.d-flex{
    display: flex;
    flex-direction: row;
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}
.justify-content-space{
    justify-content: space-around;
}